<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Chatting">
    <select id="checkRoom" resultType="int" parameterType="map">
        SELECT roomId
        FROM channel
        WHERE userId in(#{myId},#{friendId})
        GROUP BY roomId
        HAVING COUNT(DISTINCT userId) = 2;
    </select>
    <select id="checkMessage" resultType="com.project.chatting.model.dto.Message" parameterType="map">
        SELECT id,channelId,writer,message,messageTime
        FROM message
        WHERE channelId = #{roomNo}
        ORDER BY messageTime
    </select>
    <select id="getNextRoomId" resultType="int">
        SELECT IFNULL((SELECT MAX(roomId) FROM channel), 0) + 1
    </select>
    <insert id="createRoom" parameterType="map">
        INSERT INTO channel (userId, roomId)
        SELECT #{createUser}, #{nextRoomId}
    </insert>
    <insert id="sendMessage" parameterType="com.project.chatting.model.dto.Message" >
        INSERT INTO message(channelId, writer, message, messageTime)
        VALUES (#{channelId},#{writer},#{message},#{messageTime})
    </insert>
    <select id="getChannelList" parameterType="string" resultType="com.project.chatting.model.dto.Channel">
        SELECT channel.id,channel.userId,channel.roomId,channel.isChannel,channel.channelName
        FROM channel
        WHERE userId=${userId} and isChannel = 'true'
    </select>
</mapper>