<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Chatting">
    <select id="checkRoom" resultType="int" parameterType="map">
        SELECT roomId
        FROM channel
        WHERE userId in(#{myId},#{friendId})
        GROUP BY roomId
        HAVING COUNT(DISTINCT userId) = 2;
    </select>
    <select id="checkMessage" resultType="com.project.chatting.model.dto.Message" parameterType="int">
        SELECT id,channelId,writer,message,messageTime
        FROM message
        WHERE channelId = #{roomNo}
        ORDER BY messageTime
    </select>
    <select id="getNextRoomId" resultType="int">
        SELECT IFNULL((SELECT MAX(roomId) FROM channel), 0) + 1
    </select>
    <insert id="createRoom" parameterType="map">
        INSERT INTO channel (userId, roomId,isChannel)
        VALUES (#{createUser}, #{nextRoomId},'false')
    </insert>
    <insert id="sendMessage" parameterType="com.project.chatting.model.dto.Message" >
        INSERT INTO message(channelId, writer, message, messageTime)
        VALUES (#{channelId},#{writer},#{message},#{messageTime})
    </insert>
    <select id="getChannelList" parameterType="int" resultType="com.project.chatting.model.dto.Channel">
        SELECT id, userid, roomid, ischannel, channelname, channelimage
        FROM channel
        WHERE userId=${userId} and isChannel = 'true'
    </select>
    <insert id="createChannel" parameterType="map">
        INSERT INTO channel (userId, roomId, isChannel, channelName,channelImage)
        VALUES(#{userId},#{roomNo},'true',#{channelName},#{channelImage})
    </insert>
    <select id="getChannelUsers" parameterType="int" resultType="com.project.security.model.dto.User">
        SELECT usr.id,
               usr.username,
               usr.role,
               usr.displayName,
               usr.profilePictureUrl,
               usr.email,
               usr.statusMessage,
               usr.uniqueTag
        FROM users usr
                 INNER JOIN channel cnl ON usr.id = cnl.userId
        WHERE cnl.roomId = #{roomId}
        </select>
        <insert id="addInnerChannel" parameterType="com.project.chatting.model.dto.InnerChannel" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO innerChannel(channelId, channelType, channelName) VALUES(#{channelId},#{channelType},#{channelName})
        </insert>
        <select id="selectInnerChannel" parameterType="int" resultType="com.project.chatting.model.dto.InnerChannel">
            SELECT id, channelId, channelType, channelName
            FROM innerChannel
            WHERE channelId=#{roomId}
        </select>
</mapper>