/* 사이드바 토글 버튼 */
#toggle-sidebar {
    padding: 10px;
    background-color: #000000;
    color: #cdcdcd;
    cursor: pointer;
    border: none;
    margin: 0;
    width: 96px;
    margin-left: 2.6vw;
}

#header-div {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    height: 4vh;
}
.bi-person {
    font-size:2rem;
    color:white;
}
.dropdown{
    margin-right: 1%;
}
#profileDropdown{
    height: 4vh;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
#profilePicture {
    width: 29vw;
}
#displayName {
    width: 29vw;
}
#statusMessage{
    width: 29vw;
}
#profileBt{
    aspect-ratio: 1 / 1;
    height:70%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
#profileContainer{
    display: flex;
}
#profile-data{
    width:4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#profile-displayName{
    font-size:1rem;
    color:white;
}
#profile-uniqueTag{
    color:#a5a5a5;
    font-size:0.8rem;
}
