body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #ffffff;
}
#contactButton{
    display: flex;
    justify-content: space-around;
}

/* 사이드바 */
#sidebar {
    width: 0;
    height: 96vh;
    background-color: #000000;
    color: white;
    transition: width 0.3s;
    overflow-x: hidden;
}

/* 메인 콘텐츠 */
#main-content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s;
}

/* 사이드바 링크 */
#sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar-open #sidebar {
    width: 10vw;
}

.sidebar-open #main-content {
    margin-left: 250px;
}



#main-div {
    margin-left: 10px;
}

#root-div{
    display: flex;
}

#header-main-div{
    width: 100%;
    height: 96vh;
}

#header-main{
    display: flex;
}

#innder-sidebar{
    margin-top: 16px;
    margin-bottom: 23px;
}
#login-form-div{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
#find-accountment{
    margin-top: 28px;

}
.sidebar-icons{
    margin-top: 8px;
    width: 24px;
    height: 24px;
}
.sidebar-icons-bell{
    margin-top: 7px;
    width: 25px;
    height: 25px;
}
#search-input-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;

}
#search-result{
    width: 100%;
}
#messages{
    overflow-y: scroll;
    height: 87vh;
}
#messageInput{
    width: 88vw;
}
.form-control{

}
#floatingInput{
    width: 100%;
}
#floatingPassword{
    width: 100%;
}
.btn-link {
    text-decoration-color: black !important;
    color: black !important;
}
#friendProfileImage{
    width: 20%;
    height: 20%;
    aspect-ratio: 1 / 1;
}
.friend-item{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.2vh;
}
#profile-status{
    display: flex;
    flex-direction: column;
}
p{
    margin-bottom:0px!important;
}
#profile-statusMessage{
    font-size: 0.7rem;
}
.dropdown-toggle::after {
    display: none !important; /* 모든 드롭다운에서 화살표 제거 */
}
#addChannelBt{
    margin-right: 1rem;
    margin-left: 1rem;
}
#newChannelForm{
    background-color: #f9f9f9;
    width: 50%;
    height: 29%;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}