<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Alarm">
    <select id="findFriendRequest" parameterType="map" resultType="int">
        SELECT user_id
        FROM friendRequest
        WHERE user_id = #{toUser} AND friend_id = #{fromUser}
           OR user_id = #{fromUser} AND friend_id = #{toUser}
    </select>
    <insert id="friendRequest" parameterType="map">
        INSERT INTO friendRequest(user_id, friend_id, status,alarmId)
        VALUES (#{fromUser},#{toUser},'PENDING',${alarmId})
    </insert>
    <insert id="insertFriendRequestAlarm" parameterType="com.project.alarm.dto.Alarm" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO alarm(toUser, type)
        values (#{toUser},'friendRequest')
    </insert>
    <select id="findAlarm" parameterType="int" resultType="com.project.alarm.dto.Alarm">
        SELECT *
        FROM alarm
        WHERE toUser = #{userId}
    </select>
</mapper>